* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #db524d;
  --secondary-color: #df645f;
  --button-hover-color: #be5551;
  --border-radius: 5px;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: "Nunito", sans-serif;
  min-width: fit-content;
}

/* Navbar styles*/
nav {
  display: flex;
  justify-content: center;
}

nav > div > p > span {
  margin-right: 4px;
}

nav p {
  font-weight: 800;
  font-size: 1.5rem;
  display: flex;
  margin-right: 30px;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 6px 16px;
  background-color: var(--secondary-color);
  display: block;
  border-radius: var(--border-radius);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  background-color: var(--button-hover-color);
}

nav > div {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  width: 40vw;
  border-bottom: 1px solid rgb(145, 101, 101);
}

nav ul li {
  margin-right: 10px;
}

nav ul li a i {
  margin-right: 5px;
}

/* Timer section styles*/
#timer-section {
  display: flex;
  justify-content: center;
}

#timer-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 60px 30px 60px;
  background-color: #df645f;
  border-radius: var(--border-radius);
  margin-top: 40px;
}

#timer-section ul {
  display: flex;
  list-style-type: none;
}

#timer-section ul li:not(:last-child) {
  margin-right: 30px;
}

#timer-section ul li a {
  text-decoration: none;
  color: white;
  padding: 6px 10px;
  border-radius: var(--border-radius);
  display: block;
}

#timer-section ul li a:focus {
  background-color: var(--button-hover-color);
  font-weight: 700;
}

#timer-section ul li a:hover {
  background-color: var(--button-hover-color);
}

#timer-section ul li a::before {
  content: attr(title);
  display: block;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

#timer-section h1 {
  font-size: 10vw;
}

@media screen and (max-width: 980px) {
  #timer-section h1 {
    font-size: 25vw;
  }

  #task-section > div {
    width: 90vw;
  }
}

#timer-section ul li {
  white-space: nowrap;
}

#timer-section button {
  padding: 14px 60px;
  box-shadow: 0px 6px rgb(226, 226, 226);
  border: none;
  color: var(--background-color);
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: var(--border-radius);
}

#timer-section button:hover {
  cursor: pointer;
  background-color: rgb(218, 161, 161);
  color: white;
}

/* Task section styles*/
#task-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#task-section > div > p:first-of-type {
  color: #e7c5c3;
  text-align: center;
}

#task-section > div > p:nth-child(2) {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 10px;
}

#task-section > div {
  width: 35vw;
}

#tasks-container {
  margin-top: 30px;
  margin-bottom: 80px;
}

#tasks-container > div:first-child {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
}

#tasks-container .fa-ellipsis-vertical {
  padding: 8px 15px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
}

#tasks-container .fa-ellipsis-vertical:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}

@media screen and (max-width: 980px) {
  #task-section > div {
    width: 80vw;
  }
}

.task {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 15px 20px;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
}

#tasks-container > div:nth-child(2) {
  border-left: 5px solid black;
}

#tasks-container > div:nth-child(3) .task-title {
  color: rgb(182, 182, 182);
  text-decoration: line-through;
}

#tasks-container > div:nth-child(3) .fa-circle-check {
  color: var(--background-color);
}

.task > div {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.task .task-title {
  color: black;
  font-weight: 700;
}

.task .task-numbers {
  color: rgb(179, 179, 179);
  margin-right: 5px;
}

.task .task-numbers strong {
  font-size: 1.1rem;
}

.task .task-settings {
  background-color: white !important;
  border: 1px solid rgb(194, 194, 194);
  color: gray;
}

.task .task-settings:hover {
  background-color: rgb(209, 202, 202) !important;
}

.task .fa-circle-check:first-of-type {
  color: rgb(185, 185, 185);
}

#tasks-container .add-task-button {
  display: block;
  padding: 20px;
  width: 100%;
  background-color: #c94b46;
  border: dashed 1px rgb(226, 202, 202);
  color: rgb(226, 202, 202);
  font-weight: 700;
  font-size: 1.1rem;
}

#tasks-container .add-task-button:hover {
  background-color: var(--button-hover-color);
  cursor: pointer;
}

#tasks-container .add-task-button .fa-circle-plus {
  margin-right: 10px;
}

#tasks-container .task-finished-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  border-top: 1px solid white;
  padding: 20px;
  column-gap: 30px;
  background-color: var(--secondary-color);
}

#tasks-container .task-finished-container strong {
  font-size: 1.2rem;
}
